
.subsribe-button:hover{
  opacity: 0.8;
}

.subsribe-button:active{
  opacity: 0.4;
}

.subsribe-button {
  background-color: #CC0000;
  color:#FFFFFF;
  border:none;
  border-radius: 2px;
  cursor: pointer; 
  margin-left:10px;
  margin-right:5px;
  padding-top:10px;
  padding-right: 16px;
  padding-left: 16px;
  padding-bottom: 10px;
  transition: opacity 0.15s;
  vertical-align: top;
}



.join-button{
  background-color: white;
  border-color: #065FD4;
  color: #065FD4;
  border-style:solid;
  border-width: 1px;
  border-radius: 2px;
  height:36px;
  width:62px;
  padding-top:9px;
  padding-right: 16px;
  padding-left: 16px;
  padding-bottom: 9px;
  margin-right: 5px;
  cursor: pointer;
  transition:background-color 0.15s,color 0.15s;
}

.join-button:hover{
  background-color: #065FD4;
  color:white;
}


.tweet-button{
  background-color: #1D9BF0;
  border-width: 0px;
  border-radius: 20px;
  color:white;
  height:36px;
  width: 74px;
  cursor: pointer;
  font-weight: bold;
  font-size:15px;
  transition: box-shadow 0.15s;
  vertical-align: top;
}

.join-button:active{
  opacity: 0.7;
}

.tweet-button:hover{
  box-shadow:5px 5px 10px rgba(0,0,0,0.15);
}